					<div class="row">
						<div class="col-md-12">
							<p><strong>Where does the data come from?</strong> <a href='http://www.fia.fs.fed.us' target='_blank'>Forest Inventory and Analysis National Program</a></p>
							<p><strong>Where can I find more about the data?</strong> <a href='http://www.cbmjournal.com/content/8/1/1' target='_blank'>Barry Tyler Wilson's Publication on Forest Carbon Stock</a></p>
							<p><strong>Where can I download the data?</strong> <a href='http://dx.doi.org/10.2737/RDS-2013-0004' target='_blank'>Imagery Data for Forest Carbon Stock Publication</a></p>
							<p><strong>Where can I learn more about forest carbon?</strong> <a href='http://www.fia.fs.fed.us/Forest%20Carbon/default.asp' target='_blank'>USFS Forest Inventory and Analysis Carbon Page</a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Forest Carbon Facts</h3>
							<p><strong>One acre of forest contains about 50 tons of CO2</strong></p>
						</div>
					</div>
					<div class="row">
						<table class='table table-hover table-striped carbonDataSet'>
							<thead>
								<tr>
									<th width='40%'>Definitions of Carbon Pools</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class=''>
									<td>Aboveground live tree</td>
									<td>Live tree carbon that is above ground</td>
								</tr>
								<tr class=''>
									<td>Belowground live tree</td>
									<td>Live tree carbon that is above ground</td>
								</tr>
								<tr class=''>
									<td>Understory vegetation</td>
									<td>Carbon in the living vegetation that is not considered a tree, both above and below ground</td>
								</tr>
								<tr class=''>
									<td>Standing dead tree</td>
									<td>Biomass in standing dead trees</td>
								</tr>
								<tr class=''>
									<td>Forest floor</td>
									<td> Detritus on the forest floor including leaves, decaying material, and fine twigs</td>
								</tr>
								<tr class=''>
									<td>Downed dead wood</td>
									<td>Dead wood that is lying on the ground such as logs</td>
								</tr>
								<tr class=''>
									<td>Soil organic carbon</td>
									<td>Carbon in mineral soils</td>
								</tr>
							</tbody>
						</table>
					</div>