<h3 class="panel-title">
    Carbon Value
</h3>
<div class="carbonValuePrint">
    <h4><%= carbonPrice %></h4>
    <p><strong>Social value of carbon:</strong> the economic damages associated with an increase in carbon dioxide (CO2) emissions in a given year.</p>
    <h4><%= carbonMarketPrice %></h4>
    <p><strong>Market-based value of carbon:</strong> Economic value of forest carbon based on current market conditions.</p>
    <h4>How are these values arrived at?</h4>
    <p>Social value of carbon is based on information in a <a href='https://www.whitehouse.gov/sites/default/files/omb/inforeg/social_cost_of_carbon_for_ria_2013_update.pdf' target='_blank'>2013 White House paper</a>.</p>
    <p>Market-based value of carbon is based on a <a href='http://www.arb.ca.gov/cc/capandtrade/auction/may-2014/results.pdf' target='_blank'> California Air Resources Board auction in 2014</a>.</p>
</div>
<hr>
