<h3 class="panel-title">
    Carbon Equivalents
</h3>
<p><%= equivs.carEmmisions %> Cars - Yearly greenhouse gas emissions from cars</p>
<p><%= equivs.gasGallons %> Gallons - CO2 emissions from gas consumed</p>
<p><%= equivs.homes %> Houses - CO2 emissions from homes' energy use for one year</p>
<p><%= equivs.oilBarrels %> Barrels - CO2 emissions from oil consumed</p>
<p><%= equivs.coalTrainCars %> Train Cars - CO2 emissions from coal burned</p>
<p>These values are derived from the EPA Greenhouse Gas Equivalencies Calculator:  http://www.epa.gov/cleanenergy/energy-resources/calculator.html</p>
<hr>
